<div class="jumbotron">
<div class="container">
  <h1 class="display-3">Gossip project</h1>
  <h3 class="display-5">Vous êtes sur le profil de <%= @profil.first_name %> </h3>
  <p>description : <%= @profil.description %></p>
</div>
</div>
