<div class="jumbotron">
<div class="container">
  <h1 class="display-3">Gossip project</h1>
  <h3 class="display-5">Bienvenu <%= @first_name %> </h3>
  <p>Tout ce qui est écrit continue de vivre ; tout ce qui n'est que parler meurt :
  Proverbe oriental(1876)</p>
  <p><a class="btn btn-primary btn-lg" href="/gossip/new" role="button"> Nouveau gossip</a></p>
</div>
</div>
