<link href="/docs/4.5/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">


<main role="main" class="container">

<div class="starter-template">
  <h1>Team</h1>
  <p class="lead"> Ce site a été créé par Marine  &#129299;</p>
</div>

</main>